*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body{
    background-color: #f6f6f6;
}

header h1 {
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Manrope', sans-serif;
    margin-left: 40rem;
    

}
header{
    display: flex;
    flex-direction: row;
    background: #FA6400;
    margin-top: 20px;
    color: #f6f6f6;
}
.bild{
   display: grid;
   margin-left: 80px;
   height: 70px;
   position:absolute;
  }
.container{
    width: 100%;
    display: grid;
    place-items: center;
}
.formulär{
    background-color: rgb(247, 246, 246);
    border: 1px solid black;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;
    border-radius: .5rem;
}
.formulär div{
    padding: 5px;
    background-color: #f6f6f6;
    
}

button{
    background-color: #5CB85C;
    color: #f6f6f6;
    border: none;
    padding: 10px;
    margin:5px
}

button:hover {
    background-color: #62c062;
    
}
.textfält{
    width: 100%;
    padding: 6px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 5px;
   
}

.rubrik{
    width: 60%;
    padding: 6px;
    margin-left: -5px;
}

.userLista{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f6f6f6;
    padding: 30px;
    margin-top: 30px;
   
    
}
.userLista a{
 text-decoration: none;
 color: black;
 border: 1px solid black;
 border-radius: 10px;
 background-color: azure;

}

.userLista div{
  background-color: rgb(203, 239, 239);
  border:1px solid black;
  margin:0 30px 0 30px;
  border-radius:10px ;
  }





.userLista p {
margin-bottom: 8px;
font-size: 1.2rem;
}


